<div class="mat-app-background">
  <mat-toolbar
    class="nav-header"
    id="nav-header"
    color="primary"
    cdkOverlayOrigin
  >
    <div class="logo"></div>
    <span class="spacer"></span>
    <div></div>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <div>
        <form class="my-form" [formGroup]="form" (ngSubmit)="submitForm()">
          <div
            fxLayout="row"
            fxLayoutAlign="end"
            class="custom-form"
            gdAlignRows="center"
          >
            <mat-form-field color="accent" class="full-width">
              <mat-label>Title</mat-label>
              <input
                matInput
                class="form-control"
                formControlName="title"
                placeholder="Title"
                type="text"
              />
              <mat-error *ngIf="form.get('title').hasError('required')">
                Enter Title
              </mat-error>
            </mat-form-field>
            <mat-form-field color="accent" class="full-width">
              <mat-label>Chart Type</mat-label>
              <mat-select
                class="form-control"
                formControlName="type"
                required
                matInput
              >
                <mat-option value="pie">Pie</mat-option>
                <mat-option value="donut">Donut</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('type').hasError('required')">
                Select Type
              </mat-error>
            </mat-form-field>

            <div class="custom-button">
              <button id="okBtn" mat-raised-button color="accent">
                Load Chart
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-codev-chart
        [model]="data$ | async"
        [label]="label$ | async"
      ></app-codev-chart>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
